* {
    font-family: 'DM Sans', sans-serif;
    box-sizing: border-box;
   
}

html {
     background-color: #0d1b2a;
    margin: 0;
    overflow: hidden;
	display: flex;
    flex-direction: column;
}

.content {
   margin-left: 25%;
   margin-right: 25%;
   color: white; 
}

h1 {
    font-size: 2.5rem;
	text-align: center;
    color: white;
}

section {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

.accordion {
    margin-top: 20px;
}

.accordion-item {
    background: #1e3448;
    margin-bottom: 10px;
    border-radius: 5px;
    overflow: hidden;
    transition: all 0.3s ease;
}

.accordion-header {
    background: #2c3e50;
    color: #fff;
    cursor: pointer;
    padding: 15px;
    width: 100%;
    border: none;
    text-align: left;
    font-size: 1.2em;
    outline: none;
    transition: background 0.3s ease;
}

.accordion-header:hover {
    background: #3b82f6;
}

.accordion-item.active .accordion-header {
    background: #3b82f6;
}

.accordion-body {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease;
    padding: 0 15px;
}
.accordion p {
    background-color: transparent;
    line-height: 1.2;
    font-size: 1.1em;
}

.accordion-list {
    padding-left: 20px;
    margin-top: 10px;
}

.accordion-list li {
    background-color: transparent;
    color: white;
    padding-left: 8px;
    margin-bottom: 6px;
}

.accordion-item.active .accordion-body {
    padding: 15px;
    max-height: 1000px;
}