<!DOCTYPE html>
<html lang="no">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='indexStyle.css') }}">
    <title>Hjem</title>
</head>
<body>
	<!-- Importer navbar -->
    {% include 'navbar.html' %}
	<br>
	
	<!-- Innhold -->
	<div class="content">
		<h1>Velkommen til NordTek Solutions AS Kunnskapsbase</h1>
		<p>Dette er en kunnskapsbase for å hjelpe kunder i NordTek Solutions AS med å finne informasjon og ressurser raskt og enkelt. Her kan du finne dokumentasjon, veiledninger, og svar på vanlige spørsmål om våre produkter og tjenester</p>

		<br>

	</div>

</body>
</html>