{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='kundesupportStyle.css') }}">
{% endblock %}

{% block title %}Kundesupport{% endblock %}

{% block content %}

	<br>

	<div class="content">
		<!-- Overskrift --> 
        <h1>Kundesupport</h1>

		<br>

		<!-- Innholdsseksjon -->
        <section>
            <p>Hvis du har spørsmål eller trenger hjelp, kan du kontakte oss via følgende kanaler:</p>
            <ul>
                <li>Telefon: 123-45-678</li>
                <li>E-post: support@nordtek-solutions.no</li>
                <li>Chat: Klikk på chat-ikonet nederst til høyre på siden</li>
            </ul>
            <p>Vårt support-team er tilgjengelig fra kl. 09:00 til 17:00 på hverdager.</p>
        </section>
    </div>


{% endblock %}