<!DOCTYPE html>
<html lang="no">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='lovverkStyle.css') }}">
    <title>Lovverk</title>
</head>
<body>
    <!-- Importer navbar -->
	{% include 'navbar.html' %}

	<br>

    <!-- Overskrift -->
    <h1>Relevant Lovverk for NordTek Solutions AS</h1>
	
	<div class="content">
		 <section>
        <ul>
            <li>
                <h2>Personopplysningsloven (GDPR)</h2>
                <p>I NordTek Solutions ønsker vi å være transpart med våre kunder, og regulere data for dem.</p>
            </li>
            <li>
                <h2>Ekomloven</h2>
                <p>NordTek Solutions følger Økonomiloven for å sikre ryddig, korrekt og transparent økonomistyring. Det betyr at fakturering, regnskap og dokumentasjon håndteres på en trygg og profesjonell måte, noe som gir kundene forutsigbarhet og tillit.</p>
            </li>
            <li>
                <h2>Åndsverkloven</h2>
                <p>Beskyttelse av opphavsrett og intellektuell eiendom. Vi benytter ikke kunders verk eller data.</p>
            </li>
            <li>
                <h2>Nettstedsikkerhetsloven</h2>
                <p>Nettstedsikkerhetsloven betyr at NordTek Solutions må sikre at alle IT-løsninger vi leverer er trygge, stabile og beskyttet mot digitale angrep. Loven krever at vi jobber systematisk med sikkerhet, vurderer risiko og håndterer hendelser raskt, slik at kundens data og tjenester alltid er godt beskyttet.</p>
            </li>
        </ul>
    </section>
	</div>
   

</body>
</html>